*{
  margin: 0;
  padding: 0;
   font-family: "Baloo Bhai",cursive;
}
.nav-bar nav img{
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom:10px;
  margin-right: 30px;
  
}

.nav-bar{
  color: white;
  font-family: "Baloo Bhai",cursive;
  position: relative;


}
.nav-bar nav::before{
  content: "";
  background-color:black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.nav-bar nav{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-bar nav a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: medium;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-bar nav a:hover{
  background-color: white;
  color: black;
  transition: all 0.1s ease-in-out;

}






/* home section */
.home-section{
  text-align: center;
  background-image: url("../asstes/home-bg.png");
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  position: absolute;
  top: 0px;
  width:100%;
  z-index: -1;
  opacity: 0.89;
}

.home-section h1{
      color:white;
      font-size:40px;
      margin-bottom: 10px;
}

.home-section p{
  font-size:20px;
  margin-bottom: 20px;
  color: white;
}

.home-section button{
    padding:10px 30px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color:brown;
    color: white;
}

.home-section  pre{
   color: white;
}

.service-section{
  position: relative;
  top: 350px;

}
.service-section h1{
  text-align: center;
  
}
.service-section .card1{
       border: 2px solid brown;
       width: 430px;
       padding: 20px;
       text-align: center;
       border-radius: 20px;
       font-size: 15px;
       background-color: #f2f2f2;
}
.service-section .cards{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    padding: 0px 30px;
}




