*{
  margin: 0;
  padding: 0;
}
.nav-bar nav img{
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom:10px;
  margin-right: 30px;
  
}

.nav-bar{
  color: white;
  font-family: "Baloo Bhai",cursive;
  position: relative;


}
.nav-bar nav::before{
  content: "";
  background-color:black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.nav-bar nav{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-bar nav a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: medium;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-bar nav a:hover{
  background-color: white;
  color: black;

}



