*{
  margin: 0;
  padding: 0;
   font-family: "Baloo Bhai", cursive;
}
ul{
  background-color: #ff385c;
  color: white;
  display: flex;
  height:45px;
  align-items: center;

  
}

a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 17px;
  font-weight:600;
  transition: all 0.8s ease;

}
a:hover{
  background-color: white;
  color: black;

}
li{
  list-style: none;
  margin-left:100px;
  padding: 50px 10px;
  border-radius: 10px;
  

  
}
.container{
  width: 400px;
  box-shadow: 5px 5px 10px gray;
  position:absolute;
  top:20%;
  left:35%;
  padding:30px;
  border-radius: 10px;
  text-align: center;
  height: 425px;

}
h1{
  font-size:25px;
  color: rgb(255, 51, 0);
}
input{
  width:80%;
  height:30px;
  padding-left: 20px;
  outline: none;
  border:1px solid rgba(128, 128, 128, 0.493);
  border-radius: 5px;
  margin-top:25px ;

}
button{
  width:84%;
  background-color:#ff385c;
  border-radius:5px;
  color: white;
  outline: none;
  padding: 5px;
  font-size:20px;
  border: none;
  margin-top:25px;
}

button:hover{
  background-color:#e0294a;
  cursor: pointer;
}