<header class="header">
  <nav class="header_navbar">

    <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg">
      airbnb
    </div>

    <div class="search_box">
      <input type="text" placeholder="Where">
      <input type="date">
      <input type="date">
      <input type="number" placeholder="Guests">
      <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <ul class="header_nav_items">
        <li><a href="/">Home</a></li>
        <li><a href="/registerHome">Add Home</a></li>
        <li><a href="/showfavourites">Favourites</a></li>
    </ul>

  </nav>
</header>
